Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Source: %%SOURCE_URL%%
Upstream-Name: %%PROJECT_NAME%%
Upstream-Contact: %%AUTHOR%% <%%AUTHOR_MAIL%%>
Files: %%TARGET_NAME%%
Copyright: %%CURRENT_YEAR%% %%AUTHOR%% <%%AUTHOR_MAIL%%>
License: %%LICENSE_NAME%%
