#!/usr/bin/make -f
#Don't edit this file in QtCreator, blank need to be tabulation and not space
%:
	dh $@
override_dh_auto_configure:
	%%QMAKE%% -makefile 'QMAKE_STRIP=:' 'PREFIX=/usr' %%QMAKE_OPTIONS%% %%PRO_FILE%%

%%{IF HAS_TRANSLATIONS%%
override_dh_auto_build:
	dh_auto_build
	%%LRELEASE%% %%PRO_FILE%%
%%}IF%%

override_dh_auto_install:
	sh ./sqpackager_unix_installer.sh --prefix $$(pwd)/debian/%%PACKAGE_NAME%%/usr/
